<app-header></app-header>
<div class="container"  style="min-height: 550px">
  <h4>Add Property</h4><hr>

  <form class="form-inline" role="form">
    <label class="mb-2 mr-sm-2">Search By:</label>
    <div class="form-check  mb-2 mr-sm-2">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"  [(ngModel)]="searchBy" value="SAMAGRA" checked>Samagra Id
            </label>
    </div>
    <div class="form-check  mb-2 mr-sm-2">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio" [(ngModel)]="searchBy" value="PHONE">Phone
            </label>
    </div>
    <input type="text" class="form-control mb-2 mr-sm-2" name="searchValue" [(ngModel)]="searchValue" placeholder="Search">
    <button type="submit" (click)='getDetailsByPhoneOrSamagra()'    style="margin-top: -10px;" class="btn btn-primary">Search Member</button>
</form>
  
  <div style="margin-top: 10px" *ngIf="personAndPropertyList.person==null" class="alert alert-danger">
      <strong>Error!</strong> Member with this Samagra Id / Phone not found.
  </div>
  <hr>

  <div  class="card" *ngIf="personAndPropertyList.person!=null && personAndPropertyList.person.name!=undefined">
    <div class="card-header">Member Details</div>
    <div class="card-body">
            <table>
                    <tr>
                      <td><label>Samagra Id: {{personAndPropertyList.person.samagraId}}</label></td>
                      <td   style="width: 50px"></td>
                      <td><label>Name: {{personAndPropertyList.person.name}}</label></td>
                      <td   style="width: 50px"></td>
                      <td><label>Phone: {{personAndPropertyList.person.phone}}</label></td>
                    </tr>
                  </table>
  <form [formGroup]="propertyForm">
      <div class="form-row mt-4">
    <div class="col-sm-6 pb-3" >
      <label for="pnumber">Property Number:</label>
      <input type="text" class="form-control" formControlName="propertyNumber">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['propertyNumber'].hasError('required')">
          Please enter property number
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['propertyNumber'].hasError('minlength')">
            Please enter at least 2 characters
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['propertyNumber'].hasError('maxlength')">
            Property Number can not exceed 50 characters
        </p>    
    </div>
    <div class="col-sm-6 pb-3">
      <label for="pnumber">Property Subholder:</label>
      <input type="text" class="form-control" formControlName="subHolder">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['subHolder'].hasError('required')">
          Please enter property subHolder
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['subHolder'].hasError('minlength')">
            Please enter at least 2 characters
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['subHolder'].hasError('maxlength')">
            Property Number can not exceed 50 characters
        </p>    

    </div>
    <div class="col-sm-6 pb-3">
      <label for="parea">Area:</label>
      <input type="text" class="form-control" formControlName="area">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['area'].hasError('required')">
          Please enter area
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['area'].hasError('minlength')">
            Please enter at least 2 characters
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['area'].hasError('maxlength')">
            Area can not exceed 50 characters
        </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label for="pcity">City:</label>
      <input type="text" class="form-control" formControlName="city">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['city'].hasError('required')">
          Please enter city
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['city'].hasError('minlength')">
            Please enter at least 2 characters
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['city'].hasError('maxlength')">
            City can not exceed 50 characters
        </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label for="ppincode">Pincode:</label>
      <input type="text" class="form-control" formControlName="pincode">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['pincode'].hasError('required')">
          Please enter pincode
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['pincode'].hasError('pattern')">
            Pincode should have 6 digits
        </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label>Is residential:</label><br>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" (change)="onResidentialYes($event)" formControlName="residential" value="YES" checked>Yes
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" (change)="onResidentialNo($event)" formControlName="residential" value="NO" >No
        </label>
      </div>
    </div>
    <div class="col-sm-6 pb-3">
      <label for="presidentname">Resident Name:</label>
      <input type="text" class="form-control"  formControlName="residentName">
        <p style="color: #721c24;" *ngIf="propertyForm.controls['residentName'].hasError('maxlength')">
            Resident Name can not exceed 50 characters
        </p>    
    </div>
    <div class="col-sm-6 pb-3">
      <label>Property Usage:</label><br>
      <div *ngFor="let propertyUsage of propertyUsages" class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (change)="onUsageChange(propertyUsage.propertyUsageId, $event.target.checked)"  name="pu" [value]="propertyUsage.propertyUsageId">{{propertyUsage.name}}
        </label>
      </div>
      <p style="color: #721c24;" *ngIf="error.propertyUsageSelected">
          Please select at least one usage
      </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label>Property Type:</label><br>
      <div *ngFor="let propertyType of propertyTypes" class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" (change)="onTypeChange(propertyType.propertyTypeId, $event.target.checked)" name="pt" [value]="propertyType.propertyTypeId">{{propertyType.name}}
        </label>
      </div>
      <p style="color: #721c24;" *ngIf="error.propertyTypeSelected">
          Please select at least one property type
      </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label for="plength">Length:</label>
      <input type="text" class="form-control" formControlName="length">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['length'].hasError('required')">
          Please enter length
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['length'].hasError('minlength')">
            Please enter at least 1 characters
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['length'].hasError('maxlength')">
            Length can not exceed 10 characters
        </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label for="pwidth">Width:</label>
      <input type="text" class="form-control" formControlName="width">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['width'].hasError('required')">
          Please enter width
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['width'].hasError('minlength')">
            Please enter at least 1 characters
        </p>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['width'].hasError('maxlength')">
            Width can not exceed 10 characters
        </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label for="peastlandmark">East landmark:</label>
      <input type="text" class="form-control" formControlName="eastLandmark">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['eastLandmark'].hasError('maxlength')">
          East landmark can not exceed 200 characters
      </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label for="pwestlandmark">West landmark:</label>
      <input type="text" class="form-control" formControlName="westLandmark">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['westLandmark'].hasError('maxlength')">
          West landmark can not exceed 200 characters
      </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label for="pnorthlandmark">North landmark:</label>
      <input type="text" class="form-control" formControlName="northLandmark">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['northLandmark'].hasError('maxlength')">
          North landmark can not exceed 200 characters
      </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label for="psouthlandmark">South landmark:</label>
      <input type="text" class="form-control" formControlName="southLandmark">
      <p style="color: #721c24;" *ngIf="propertyForm.controls['southLandmark'].hasError('maxlength')">
          South landmark can not exceed 200 characters
      </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label>Is water connected:</label><br>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" formControlName="waterConnected" value="YES">Yes
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" formControlName="waterConnected" value="NO">No
        </label>
      </div>
    </div>
    <div class="col-sm-6 pb-3">
        <label for="psharedwalldesc">Shared wall description:</label>
        <textarea rows="4" class="form-control" formControlName="sharedWallDescription"></textarea>
        <p style="color: #721c24;" *ngIf="propertyForm.controls['sharedWallDescription'].hasError('maxlength')">
            Shared wall description can not exceed 200 characters
        </p>
      </div>  
    <div class="col-sm-6 pb-3">
      <label for="pwaterbilldescription">Water bill description:</label>
      <textarea class="form-control" rows="4" formControlName="waterBillDescription"></textarea>
      <p style="color: #721c24;" *ngIf="propertyForm.controls['waterBillDescription'].hasError('maxlength')">
          water bill description can not exceed 200 characters
      </p>
    </div>
    <div class="col-sm-6 pb-3">
      <label for="potherdescription">Other description:</label>
      <textarea class="form-control" rows="4" formControlName="otherDescription"></textarea>
      <p style="color: #721c24;" *ngIf="propertyForm.controls['otherDescription'].hasError('maxlength')">
          Other description can not exceed 200 characters
      </p>
    </div>
    <div class="col-sm-6 pb-3">
            <label for="potherdescription">Upload File:</label><br>
            <input type="file" (change)="fileEvent($event.target.files)"    multiple><button class="btn btn-primary" (click)="uploadFile()">Upload</button>
    </div>    

    </div>
    <button type="submit" [disabled]="!propertyForm.valid" (click)="saveProperty(personAndPropertyList.person.samagraId)" class="btn btn-primary">Save</button>
  </form>
</div>
  </div>


  </div>
  <app-footer></app-footer>