<div class="container">
  <h4>Add Property</h4><hr>
  <form class="form-inline">
      <label for="samagra">Samagra Id&nbsp;</label>
      <input type="text" class="form-control" [(ngModel)]="phoneOrSamagra.samagraId" name="samagraId" id="samagra" maxlength="9">
      <label for="phn">&nbsp;Or Phone &nbsp;</label>
      <input type="text" class="form-control" [(ngModel)]="phoneOrSamagra.phoneNumber" name="phn" id="phn">
      &nbsp;&nbsp;
      <button type="submit" (click)='getDetailsByPhoneOrSamagra()' class="btn btn-primary">Search Member</button>
  </form>
  <div *ngIf="error" class="alert alert-danger">
      <strong>Error!</strong> Member with this Samagra Id / Phone not found.
  </div>
  <hr>
  <form *ngIf="personAndPropertyList.person!=null">
    <div class="form-group">
      <label for="pnumber">Property Number:</label>
      <input type="text" class="form-control" id="pnumber" [(ngModel)]="property.propertyNumber" name="Number" maxlength="50">
    </div>
    <div class="form-group">
      <label for="parea">Area:</label>
      <input type="text" class="form-control" id="parea" [(ngModel)]="property.area" name="area" maxlength="50">
    </div>
    <div class="form-group">
      <label for="pcity">City:</label>
      <input type="text" class="form-control" id="pcity" [(ngModel)]="property.city" name="city" maxlength="50">
    </div>
    <div class="form-group">
      <label for="ppincode">Pincode:</label>
      <input type="text" class="form-control" id="ppincode" [(ngModel)]="property.pincode" name="pincode" maxlength="6">
    </div>
    <div class="form-group">
      <label>Is residential:&nbsp;</label>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="residential" [(ngModel)]="residential" value="yes" checked>Yes
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="residential" [(ngModel)]="residential" value="no" >No
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="presidentname">Resident Name:</label>
      <input type="text" class="form-control" id="presidentname" [disabled]="residential=='no'" [(ngModel)]="property.residentName"  name="residentname" maxlength="50">
    </div>
    <div class="form-group">
      <label>Property Usage:&nbsp;</label>
      <div *ngFor="let propertyUsage of propertyUsages" class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" [(ngModel)]="propertyUsage.checked" name="pu" [value]="propertyUsage.propertyUsageId">{{propertyUsage.name}}
        </label>
      </div>
    </div>
    <div class="form-group">
      <label>Property Type:&nbsp;</label>
      <div *ngFor="let propertyType of propertyTypes" class="form-check-inline">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="pt" [(ngModel)]="propertyType.checked" [value]="propertyType.propertyTypeId">{{propertyType.name}}
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="plength">Length:</label>
      <input type="text" class="form-control" id="plength" [(ngModel)]="property.length" name="length" maxlength="50">
    </div>
    <div class="form-group">
      <label for="pwidth">Width:</label>
      <input type="text" class="form-control" id="pwidth" [(ngModel)]="property.width" name="width" maxlength="50">
    </div>
    <div class="form-group">
      <label for="peastlandmark">East landmark:</label>
      <input type="text" class="form-control" id="peastlandmark" name="eastlandmark" [(ngModel)]="property.eastLandmark" maxlength="200">
    </div>
    <div class="form-group">
      <label for="pwestlandmark">West landmark:</label>
      <input type="text" class="form-control" id="pwestlandmark" name="westlandmark" [(ngModel)]="property.westLandmark" maxlength="200">
    </div>
    <div class="form-group">
      <label for="pnorthlandmark">North landmark:</label>
      <input type="text" class="form-control" id="pnorthlandmark" name="northlandmark" [(ngModel)]="property.northLandmark" maxlength="200">
    </div>
    <div class="form-group">
      <label for="psouthlandmark">South landmark:</label>
      <input type="text" class="form-control" id="psouthlandmark" name="southlandmark" [(ngModel)]="property.southLandmark" maxlength="200">
    </div>
    <div class="form-group">
      <label for="psharedwalldesc">Shared wall description:</label>
      <textarea rows="5" class="form-control" id="psharedwalldesc" name="sharedwalldesc" [(ngModel)]="property.sharedWallDescription" maxlength="500"></textarea>
    </div>
    <div class="form-group">
      <label>Is water connected:&nbsp;</label>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="waterconnected" [(ngModel)]="waterConnected" value="yes">Yes
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="waterconnected" [(ngModel)]="waterConnected" value="no">No
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="pwaterbilldescription">Water bill description:</label>
      <textarea class="form-control" rows="5" id="pwaterbilldescription" name="waterbilldescription" [(ngModel)]="property.wateBillDescription" maxlength="500"></textarea>
    </div>
    <div class="form-group">
      <label for="potherdescription">Other description:</label>
      <textarea class="form-control" rows="5" id="potherdescription" name="otherdescription" [(ngModel)]="property.otherDescription" maxlength="500"></textarea>
    </div>
    <button type="submit" (click)="saveProperty(personAndPropertyList.person.samagraId)" class="btn btn-primary">Save</button>
  </form>
  </div>