<app-header></app-header>
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "default"
color = "#fff"
type = "ball-clip-rotate"
></ngx-spinner>
<div class="container"  style="min-height: 550px">
<h4 *ngIf="action=='true'">Add Member</h4>
<h4 *ngIf="action=='false'">Edit  Member</h4>
<form [formGroup]="personForm" (ngSubmit)="onSubmit()">

  <div class="form-row mt-4">
  <div class="col-sm-6 pb-3">
    <label for="pname">Name(समग्र सदस्य का नाम):</label>
    <input type="text" placeholder="Enter member name" class="form-control" formControlName="name">
    <p style="color: #721c24;" *ngIf="personForm.controls['name'].hasError('required')">
      Please enter a name
    </p>
    <p style="color: #721c24;" *ngIf="personForm.controls['name'].hasError('minlength')">
        Please enter at least 2 characters
    </p>
    <p style="color: #721c24;" *ngIf="personForm.controls['name'].hasError('maxlength')">
        Name can not exceed 50 characters
    </p>
  </div>
  <div class="col-sm-6 pb-3">
    <label for="pphone">Mobile(मोबाइल):</label>
    <input type="text" class="form-control" placeholder="Enter phone number" formControlName="phone">
    <p style="color: #721c24;" *ngIf="personForm.controls['phone'].hasError('required')">
        Please enter a phone
    </p>
    <p style="color: #721c24;" *ngIf="personForm.controls['phone'].hasError('pattern')">
          Phone number should have 10 digits
    </p>  
  </div>

  <div class="form-group" class="col-sm-6 pb-3">
    <label for="psamagraid">Samagra ID(समग्रा आई.डी.):</label>
    <input type="text" class="form-control" placeholder="Enter samagraId" formControlName="samagraId">
    <p style="color: #721c24;" *ngIf="personForm.controls['samagraId'].hasError('required')">
        Please enter a samagraId
    </p>
    <p style="color: #721c24;" *ngIf="personForm.controls['samagraId'].hasError('pattern')">
          Samagra ID should have 8 digits
    </p>  
  </div>
  <div class="form-group" class="col-sm-6 pb-3">
    <label>Select Gender(लिंग):</label><br>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" formControlName="gender" value="MALE" checked>Male(पुरुष)
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" formControlName="gender" value="FEMALE">Female(महिला)
      </label>
    </div>
  </div>

  <div class="form-group" class="col-sm-6 pb-3">
    <label for="pfather">Father(पिता):</label>
    <input type="text" class="form-control" placeholder="Enter father's name" formControlName="father">
    <p style="color: #721c24;" *ngIf="personForm.controls['father'].hasError('maxlength')">
        Father's name can not exceed 50 characters
    </p>  
  </div>
  <div class="form-group" class="col-sm-6 pb-3">
    <label for="phusband">Husband(पति):</label>
    <input type="text" class="form-control" placeholder="Enter husband's name" formControlName="husband">
    <p style="color: #721c24;" *ngIf="personForm.controls['caste'].hasError('maxlength')">
        Husband's name can not exceed 50 characters
    </p>  
  </div>
  <div class="form-group" class="col-sm-6 pb-3">
    <label for="pcaste">Caste(जाति):</label>
    <input type="text" class="form-control" placeholder="Enter caste" formControlName="caste">
    <p style="color: #721c24;" *ngIf="personForm.controls['caste'].hasError('required')">
        Please enter a caste
    </p>
      <p style="color: #721c24;" *ngIf="personForm.controls['caste'].hasError('minlength')">
          Please enter at least 2 characters
      </p>
      <p style="color: #721c24;" *ngIf="personForm.controls['caste'].hasError('maxlength')">
          Caste can not exceed 50 characters
      </p>  
  </div>
</div>
  <button type="submit" *ngIf="action=='true'" [disabled]="!personForm.valid" class="btn btn-success">Save</button>
  <button type="submit" *ngIf="action=='false'" [disabled]="!personForm.valid" class="btn btn-success">Update</button>
</form>
</div>
<app-footer></app-footer>