<app-header></app-header>
<div class="container"  style="min-height: 550px">
    <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "default"
    color = "#fff"
    type = "ball-clip-rotate"
    ></ngx-spinner>
  <h4>Tax Details</h4>
  <div  *ngIf="taxDetails.length>0">
    <input type="text" class="form-control" style="width: 25%"    placeholder="Search" [(ngModel)]="filter">
  </div>
    <div *ngIf="taxDetails.length==0" class="card bg-light text-dark text-center" style="margin-top: 10px; width: 100%;">
        <div class="card-body">
          <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No Tax  Detail(s) present</h3>
        </div>
    </div>
  <table  *ngIf="taxDetails.length>0" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let taxDetail of taxDetails  | taxfilter:filter | paginate: config">
        <td *ngIf="taxDetail.lastTaxPaidOn==null">N/A</td><td *ngIf="taxDetail.lastTaxPaidOn!=null">{{taxDetail.lastTaxPaidOn | date}}</td>
        <td>{{taxDetail.amount}} <i class="fa fa-inr" aria-hidden="true"></i></td>
        <td>{{taxDetail.currentTaxPaymentStatus}}</td>
        <td *ngIf="taxDetail.currentTaxPaymentStatus!='DUE'"><button class="btn btn-success" (click)="viewReciept(taxDetail.taxDetailId)">View Reciept</button></td><td *ngIf="taxDetail.currentTaxPaymentStatus=='DUE'"><button (click)="payTax(taxDetail.taxDetailId)" class="btn btn-primary">Pay Tax</button></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="taxDetails.length>0" class="has-text-centered"  style="margin-left: 33%;">
      <pagination-controls [id]="config.id"
                           [maxSize]="maxSize"
                           [directionLinks]="directionLinks"
                           [autoHide]="autoHide"
                           [responsive]="responsive"
                           [previousLabel]="labels.previousLabel"
                           [nextLabel]="labels.nextLabel"
                           [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                           [screenReaderPageLabel]="labels.screenReaderPageLabel"
                           [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                           (pageChange)="onPageChange($event)"></pagination-controls>
  </div>

</div>

<app-footer></app-footer>