<app-header></app-header>
<div    class="container" style="min-height: 550px">
    <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "default"
    color = "#fff"
    type = "ball-clip-rotate"
    ></ngx-spinner>
<div class="row">
  
    <label *ngIf="persons.length>0" style="padding-top: 5px;">Search members:</label>&nbsp;
    <input *ngIf="persons.length>0" type="text" class="form-control" style="width: 25%"    placeholder="Search" [(ngModel)]="filter">
    <button class="btn btn-success" style="margin-left: auto;" (click)="navigateToAddMember()">Add Member</button>
    
    <div *ngIf="persons.length==0" class="card bg-light text-dark text-center" style="margin-top: 10px; width: 100%;">
        <div class="card-body">
          <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> No Member(s) present</h3>
        </div>
    </div>
    <table *ngIf="persons.length>0"  class="table table-hover"   style="margin-top: 10px">
        <thead>
          <tr>
            <th>Name</th>
            <th>Samagra</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons  | memberfilter:filter | paginate: config">
            <td>{{person.name}}</td>
            <td>{{person.samagraId}}</td>
            <td>{{person.phone}}</td>
            <td>
              <a  style="cursor: pointer;"  data-toggle="tooltip" data-placement="top" title="Edit" (click)="edit(person.personId)"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
              <a  style="cursor: pointer;"  data-toggle="tooltip" data-placement="top" title="Delete" (click)="delete(person.personId)"><i class="fa fa-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    <div *ngIf="persons.length>0" class="has-text-centered"  style="margin-left: 33%;">
        <pagination-controls [id]="config.id"
                             [maxSize]="maxSize"
                             [directionLinks]="directionLinks"
                             [autoHide]="autoHide"
                             [responsive]="responsive"
                             [previousLabel]="labels.previousLabel"
                             [nextLabel]="labels.nextLabel"
                             [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                             [screenReaderPageLabel]="labels.screenReaderPageLabel"
                             [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                             (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</div>
</div>
<app-footer></app-footer>