<app-header></app-header>
<!-- Page Content -->

<div class="container"  style="min-height: 550px">
  
        <!-- Page Heading -->
        <h1  style="color: #721c24" class="my-4">Welcome,
          <small>{{currentUser.panchayat.name}}</small>
        </h1>
        
        <div class="row">
                <div class="card-columns">
                        <div class="card bg-light" (click)="navigateToMember()" style="cursor: pointer">
                          <div class="card-body">
                            <p style="color: #721c24" class="card-text">1) Samagra Families (समग्रा परिवार)&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-address-card"></i> </p>
                          </div>
                        </div>
                        <div class="card bg-light" style="color: #721c24">
                          <div class="card-body">
                            <p class="card-text"  (click)="navigateToReports()" style="cursor: pointer">4) Tax Reports (कर रिपोर्ट)&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-line-chart"></i></p>
                          </div>
                        </div>
                        <div class="card bg-light" style="color: #721c24">
                          <div class="card-body">
                            <p class="card-text" (click)="navigateToProperties()" style="cursor: pointer">2) Properties (संपत्ति)&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-building"></i></p>
                          </div>
                        </div>
                        <div class="card bg-light" style="color: #721c24"  >
                          <div class="card-body">
                            <p class="card-text"  (click)="navigateToReports()" style="cursor: pointer">5) Administrator (प्रशासक)&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-user-circle "></i></p>
                          </div>
                        </div>
                        <div class="card bg-light"  style="color: #721c24">
                          <div class="card-body">
                            <p class="card-text" (click)="navigateToPayTax()" style="cursor: pointer">3) Pay Taxes (कर का भुगतान करें)&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-money"></i></p>
                          </div>
                        </div>
                        
                 </div>
        </div>
      </div>
<app-footer></app-footer>