<app-header></app-header>
<!-- Page Content -->

<div class="container"  style="min-height: 550px">
    <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "default"
    color = "#fff"
    type = "ball-clip-rotate"
    ></ngx-spinner>
    <h4>Pay Taxes</h4>
    <hr>
    <!-- <form class="form-inline">
      <label for="samagra">Samagra Id&nbsp;</label>
      <input type="text" class="form-control" [(ngModel)]="phoneOrSamagra.samagraId" name="samagraId" id="samagra" maxlength="8">
      <label for="phn">&nbsp;Or Phone &nbsp;</label>
      <input type="text" class="form-control" [(ngModel)]="phoneOrSamagra.phoneNumber" name="phn" id="phn">
      &nbsp;&nbsp;
      <button type="submit" (click)='getDetailsByPhoneOrSamagra()' class="btn btn-success">Search Member</button>
    </form> -->
    <form class="form-inline" role="form">
      <label class="mb-2 mr-sm-2">Search By:</label>
      <div class="form-check  mb-2 mr-sm-2">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio"  [(ngModel)]="searchBy" value="SAMAGRA" checked>Samagra Id
              </label>
      </div>
      <div class="form-check  mb-2 mr-sm-2">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" [(ngModel)]="searchBy" value="PHONE">Phone
              </label>
      </div>
      <input type="text" class="form-control mb-2 mr-sm-2" name="searchValue" [(ngModel)]="searchValue" placeholder="Search">
      <button type="submit" (click)='getDetailsByPhoneOrSamagra()'    style="margin-top: -10px;" class="btn btn-success">Search Member</button>
  </form>
  
    <div style="height: 10px;"></div>
    <div style="margin-top: 10px" *ngIf="searchPersonError" class="alert alert-danger">
        <strong>Error!</strong> Member with this Samagra Id / Phone not found.
    </div>
    <div *ngIf="!searchPersonError && personAndPropertyList.person!=null && personAndPropertyList.person.name!=undefined" class="card">
        <div class="card-header">Member Details</div>
        <div class="card-body">
          <table class="table">
            <tr>
              <td><label>Samagra Id: {{personAndPropertyList.person.samagraId}}</label></td>
              <td></td>
              <td><label>Name: {{personAndPropertyList.person.name}}</label></td>
              <td></td>
              <td><label>Phone: {{personAndPropertyList.person.phone}}</label></td>
            </tr>
          </table>
                                  
            <div id="accordion">
                <div class="card" *ngFor="let property of personAndPropertyList.propertyList;index as i">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" [href]="'#collapse'+i">
                       {{property.customUniqueId}} ,  {{property.propertyNumber}}, {{property.area}}
                    </a>
                  </div>
                  <div [id]="'collapse'+i" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row" style="margin-bottom:20px">
                            <div class="col"><b>Samagra Id </b>: {{property.samagraId}}</div>
                            <div class="col"><b>Unique Id </b>: {{property.customUniqueId}}</div>
                            <div class="col"><b>Subholder Name </b>: {{property.subHolder}}</div>
                          </div>
                          <div class="row" style="margin-bottom:20px">
                            <div class="col"><b>Prperty Number </b>: {{property.propertyNumber}}</div>
                            <div class="col"><b>Area </b>: {{property.area}}</div>
                            <div class="col"><b>Village </b>: {{property.village}}</div>
                          </div>
                          <div class="row" style="margin-bottom:20px">
                            <div class="col"><b>District </b>: {{property.district}}</div>
                            <div class="col"></div>
                            <div class="col"><b>Tehsil</b>: {{property.tehsil}}</div>
                          </div>
                          <div class="row" style="margin-bottom:20px">
                                <div class="col"><b>Pincode </b>: {{property.pincode}}</div>
                                <div class="col"><b>Is water Connected </b>: {{property.waterConnected==true ? 'YES' : 'NO'}}</div>
                                <div class="col"><b>Is Residential </b>: {{property.isResidential==true ? 'YES' : 'NO'}}</div>
                          </div>
                            <div class="row" style="margin-bottom:20px">
                                
                                <div class="col"><b>Resident Name </b>: {{property.residentName}}</div>
                                <div class="col"><b>East Landmark </b>: {{property.eastLandmark}}</div>
                                <div class="col"><b>West Landmark </b>: {{property.westLandmark}}</div>
                          </div>
                          <div class="row" style="margin-bottom:20px">
                            
                            <div class="col"><b>North Landmark </b>: {{property.northLandmark}}</div>
                            <div class="col"><b>South Landmark </b>: {{property.southLandmark}}</div>
                            <div class="col"><b>Water Bill Description </b>: {{property.waterBillDescription}}</div>
                          </div>
                          <div class="row" style="margin-bottom:20px">
                            
                            <div class="col"><b>Shared Wall Description </b>: {{property.sharedWallDescription}}</div>
                            <div class="col"><b>Other Description </b>: {{property.otherDescription}}</div>
                            <div  class="col"><b>Property Types</b> :<br>
                              <p *ngFor="let pt  of  property.propertyTypes">{{pt.name}}</p>
                            </div>
                          </div>
                          <div  class="row">
                            
                            <div  class="col"><b>Property Usages</b> :<br>
                              <p *ngFor="let pv  of  property.propertyUsages">{{pv.name}}</p>
                            </div>
                            <div  class="col"></div>
                            <div  class="col" *ngIf="!property.transferred"><button class="btn btn-success" (click)="openTaxDetails(property.propertyId)">Tax Details</button></div>
                            <div  class="col" *ngIf="property.transferred">This property has been transfered to: {{property.transferredToSamagraId}}</div>
                          </div>
                      <!-- <table>
                        <tr>
                          <td><label>City: {{property.city}}</label></td>
                          <td style="width: 30px"></td>
                          <td><label>Pincode: {{property.pincode}}</label></td>
                          <td style="width: 30px"></td>
                          <td><button (click)="openTaxDetails(property.propertyId)" class="btn btn-primary">View tax details</button></td>
                        </tr>
                      </table> -->
                    </div>
                  </div> 
                </div>
              </div>
        </div> 
      </div>
      <div style="height: 600px;"></div>
</div>
<app-footer></app-footer>